.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nama-album{
  padding-top: 30px;
}

.btn-slct {
  width: 90px;
  height: 35px;
  /* padding: 10px 39px 18px 39px; */
  color: #fff;
  background-color: #4bc970;
  opacity: 0.8;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px #1a7940;
  border: 1px solid #3ac162;
  border-width: 2px 2px 3px;
  /* box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset; */
  margin-bottom: 10px;
}

button:hover {
  opacity: 1;
}

button:active {
  box-shadow: none;
}
